@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --Green5: hsl(158, 36%, 37%);
    --Green7: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--Cream);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10rem;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 10px 0 0 10px;
}

.container {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0 10px 10px 0;

}

.title {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    gap: 10px;
    display: flex;

    justify-content: center;
    flex-direction: column;

}

.title h2 {
    color: var(--Grey);
    letter-spacing: 2px;
}

.title h1 {
    font-family: "Fraunces", serif;
}

.title p {
    color: var(--Grey);
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price h6 {
    font-size: 24px;
    color: var(--Green5);
}

.price span {
    text-decoration: line-through;
    color: var(--Grey);
}

.title a {
    background-color: var(--Green7);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}